    body {
        margin: 0;
        padding: 0;
    }
    
    body {
        margin: 0;
        font-family: acumin-pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000;
        text-align: left;
        background-color: #f6f8f9;
    }
    
    *,
     :after,
     :before {
        box-sizing: border-box;
    }
    
    html {
        font-family: sans-serif;
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
    }
    
    body,
    html {
        height: 100%;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: 0;
        margin: 0 0 0.5rem;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #000;
        margin-bottom: 0.5rem;
        font-weight: 600;
        line-height: 1.4;
    }

    hr{
        display: flex;
        align-self: center;
        background: #0ad0f4;
        border-width: 0;
        border: 0;
        width: 100%;
        height: 2px;
    }

    input:disabled, input[disabled] {
        cursor: no-drop;
    }
    
    h2 {
        font-size: 1.125rem;
        margin-bottom: 1.3125rem;
    }
    
    @media screen and (min-width: 361px) {
        h2 {
            font-size: 1.5rem;
        }
    }
    
    .calc-page {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background: #fff;
        padding: 1rem 1.25rem;
        font-size: .875rem;
        box-shadow: -1px 1px 4px 0 rgb(117 138 172 / 12%);
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    .card .card__header {
        padding-bottom: 10px;
        text-align: center;
        border-bottom: 1px solid #dfe4e8;
        margin-bottom: 16px;
    }
    
    .card .card__header h2 {
        margin-bottom: .25rem;
        text-transform: capitalize;
    }
    
    .card.card--calc {
        min-width: 500px;
    }
    
    .card .card__body {
        padding: 1rem;
        display: flex;
        gap: 2rem;
    }
    
    .card .card__body>div:first-child {
        flex: 1;
    }
    
    @media screen and (max-width: 360px) {
        .card .card__body {
            flex-direction: column-reverse;
        }
    }
    
    .card__empty {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 160px;
        background: antiquewhite;
    }
    
    .input-group {
        display: flex;
        border-radius: 6px;
        overflow: hidden;
        background: #0ad0f4;
        align-items: center;
        border: 1px solid #0ad0f4;
        margin-bottom: 1rem;
    }
    
    .input-group.has-error {
        border-color: red;
        border-width: 2px;
    }
    
    .input-group>div {
        padding: 4px 12px;
        color: #fff;
        white-space: nowrap;
    }
    
    .input-group>input {
        padding: 0;
        outline: 0;
        height: 34px;
        padding-left: 1rem;
        border-radius: 0;
        border: 0;
        font-size: 16px;
        width: 100%;
        background: #fff;
    }
    
    .input-action {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;
    }
    
    .input-action button {
        background: #0ad0f4;
        color: #fff;
        border: 1px solid #0ad0f4;
        border-radius: 6px;
        padding: 8px 16px;
        cursor: pointer;
        font-size: 1rem;
    }
    
    .input-group.input-group--ans {
        opacity: .5;
    }
    
    #errorAlert {
        margin: 1rem 0;
        color: #fff;
        font-weight: 500;
        background: #FF3A3A;
        border-radius: 4px;
        padding: 0.55rem;
        text-align: center;
    }
    
    #errorAlert:empty {
        display: none;
    }
    
    .input-reset {
        display: flex;
        align-items: center;
        height: max-content;
        cursor: pointer;
    }
    
    .ans-help-text {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .input-addon {
        margin: 0 10px;
        color: #fff;
        white-space: nowrap;
    }
    
    .input-btn {
        background: #0ad0f4;
        border: 1px solid #0ad0f4;
        color: #fff;
        padding: 8px 13px;
        font-size: 14px;
        border-radius: 4px;
    }
    
    .btn-group {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        gap: 1rem;
    }
    
    .btn-group .input-group {
        margin-bottom: 0;
    }
    /* other cards */
    
    .card.card--center .card__body {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    
    .card .card__body.card__body--flex-row{
        flex-direction: row;
    }
    .gridbox{
        display: grid; 
        grid-template-columns: 1fr .5fr 1fr; 
        grid-template-rows: repeat(3, 36px); 
        max-width: max-content; 
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .gridbox.gridbox__vertical :nth-child(n){
        margin-bottom: 0;
    }
    .gridbox.gridbox__vertical :nth-child(1){
        grid-column: 1;
        grid-row: 1;
        text-align: center;
    }
    .gridbox.gridbox__vertical :nth-child(2){
        grid-column: 1;
        grid-row: 2;
    }
    .gridbox.gridbox__vertical :nth-child(3){
        grid-column: 1;
        grid-row: 3;
    }
    .gridbox.gridbox__vertical :nth-child(4){
        grid-column: 2;
        grid-row: span 3; 
        background: none; 
        margin: 35% 10px;
        border-radius: 10px;
    }
    .gridbox.gridbox__vertical :nth-child(5){
        grid-column: 3;
        grid-row: 1;
    }
    .gridbox.gridbox__vertical :nth-child(6){
        grid-column: 3;
        grid-row: 2;
    }
    .gridbox.gridbox__vertical :nth-child(7){
        grid-column: 3;
        grid-row: 3;
    }

    .dropdown{
        background: transparent;
        border: 0;
        outline: none;
        color: white;
        padding: 5px;
    }
    
